* {
--font-display: 'Fredoka', system-ui, -apple-system, sans-serif;
    font-family: var(--font-display);
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background-color: #1E39B0;
    border: #fff 10px solid;
    padding: 10px;
}

header{

}

footer{

}
.logo-img {
    width: 300px;
    height: auto;
}
